<div id='background'>
    <form action="/artist-search" method="GET" class='search-container'>
        <label for="artist"></label>
        <input type="text" name="artist" id="artist" placeholder="Enter an artist here">
        <button id="button-search" type="submit">Search for an artist</button>
    </form>
</div>
</div>