<h1>The albums are:</h1>
{{#each albums}}
<div class="card" style="width: 18rem">
        <div class="card-body">
    <h2 class="card-title"></h2class>{{name}}</h2>
    <a href="/view-tracks/{{id}}">
        <img src="{{images.0.url}}" alt="{{name}}" class="card-img-top">
    </a>
</div>
</div>
{{/each}}